/* form_data.css */

/* Page container */
.container {
    max-width: 95% !important;
}

/* main card */
.main-card {
    margin-bottom: 40px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.page-title-style {
    background-color: rgb(255, 255, 255);
    color: rgb(80, 77, 77);
    border-bottom: none;
}

.loading-wheel {
    display: flex;
    align-self: center;
}

/* tier 2 button styling */
.primary-button {
    padding: 10px 20px;
    box-sizing: border-box; /* Ensure padding is included in the button's overall size */
    align-self: center; /* Prevent the button from stretching to the height of the parent */
    justify-self: flex-end;
}

/* ----------------------------------------------------- Main Card Body ----------------------------------------------------- */

.p-40 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
}

/* ----------------------------------------------------- Form Body ----------------------------------------------------- */

/* Select a folder card */

.select-form-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.selected-form-parts {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selected-form-container {
    position: relative; /* Needed for absolute positioning of background-div */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    width: 340px;
    height: 84px;
    background-color: #efefef; /* defaults to transparent */
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
}

.background-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 84px;
    background-color: none; /* Adjust as needed */
    border: 1px dashed grey;
    border-radius: 10px;
    z-index: 0; /* Ensure it's behind the folder */
    opacity: 0;
}

#missing_form_msg {
    color: grey;
    font-size: 11px;
}

.selected-form {
    display: flex; /* defaults to none */
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    gap: 10px;
}

.icon { /* common styles for clickable icons */
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent; /* Make background clear */
    transition: background-color 0.3s ease; /* Add transition */
    color: #353A40;
    font-size: 1rem; /* Smaller icon size */
    padding: 7px; /* Padding to increase clickable area */
    text-decoration: none; /* Remove underline */
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background on hover */
}

.popup {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
}

.popup-option {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #353A40;

}

.popup-option:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.response-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px;
    gap: 6px;
    background-color: #efefef;
    color: #353A40;
    border-radius: 10px;
    height: 84px;
    opacity: 0;
}

#response-title {
    font-size: 14px;
}

#response-count {
    font-size: 16px;
    font-weight: bold;
}

@keyframes growFromInwardEffect {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.tiny-grow {
    animation: growFromInwardEffect 2s forwards;
}

/* ----------------------------------------------------- Tabulator ----------------------------------------------------- */

.tabulator-row:hover .tabulator-cell.default-column {
    background-color: #BBBBBB !important;
}

.tabulator-selected:hover {
    filter: brightness(0.87) !important;
}

.tabulator-selected .tabulator-cell.default-column {
    background-color: #BBBBBB !important;
}

.tabulator-row-even .tabulator-cell.default-column {
    background-color: #EFEFEF;
}

.tabulator-row-odd .tabulator-cell.default-column {
    background-color: #FFFFFF;
}

/* ----------------------------------------------------- Color Customize Settings ----------------------------------------------------- */

.color-swatch {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.color-palette {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    z-index: 1000;
}

.color-palette span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid #ddd;
    cursor: pointer;
}

/* Data table parent */
#tableParent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: hidden;
}

/* ----------------------------------------------------- Folder Tree Modal ----------------------------------------------------- */

#itemPickerModal .modal-dialog.modal-lg {
    max-width: 60%;
}

#itemPickerModal .modal-content {
    height: 50vh;
}

#itemPickerModal .modal-body {
    overflow-y: auto;
}

#itemPickerModal .modal-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#itemPickerModal .modal-footer .form-control {
    flex: 1;
    min-width: 200px;
}

#tree_container ul {
    list-style-type: none;
    padding-left: 20px;
}

#tree_container li {
    cursor: pointer;
    padding: 5px;
    user-select: none;
}

#tree_container li:hover {
    background-color: #f1f1f1;
}

#tree_container .item::before {
    content: "\f15c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: #007bff;
}

#tree_container .selected-item {
    background-color: #007bff;
    color: white;
}

#tree_container .selected-item::before {
    color: white;
}

#tree_container .selected-item:hover {
    background-color: #007bff;
    color: white;
}